.header {
  display: flex;
  justify-content: center;
  padding-top: 34px;
  margin: 0 auto;
}

.header__logo {
  width: 255px;
  height: 69px;
}

.header__lead {
  width: 984;
  height: 983;
  margin: 0 148px auto;
}

.header__title {
  text-align: center;
  font-size: 96px;
  line-height: 100px;
  letter-spacing: 0%;
  display: flex;
  justify-content: center;
  width: 720px;
  height: 200px;
  margin: auto;
}

.header__subtitle {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 720px;
  height: 72px;
  margin: 32px auto 0;
}

.header__image {
  width: 984px;
  height: 615px;
  margin: 64px auto 0;
}

.header__description {
  width: 830px;
  height: 607px;
  margin: 92px auto 0 148px;
}

.header__title_description {
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  letter-spacing: 0%;
  display: flex;
  width: 830px;
  height: 174px;
  margin: 0;
}
