.places {
  max-width: 987px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin: 0 auto 90px;
}

.places__content {
  display: grid;
  grid-template-columns: 460px repeat(1, 1fr);
  grid-template-rows: 152px 460px repeat(3, 1fr);
  grid-gap: 48px 40px;
}

.places__header {
  max-width: 460px;
  font-family: "Inter-Black", sans-serif;
  font-size: 72px;
  line-height: 0.9;
  font-weight: 900;
  margin: 0;
  padding-top: 5%;
  align-content: end;
}

.places__link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  max-width: 460px;
  align-content: end;
}

.places__link_header {
  font-size: 12px;

  color: #aaa;
  letter-spacing: 3px;
}

.places__link_artist {
  line-height: 22px;
  margin: 0;
}

.places__image {
  width: 100%;
  height: 100%;
}

.places__image:hover {
  opacity: 0.5;
}

.places__content-paragraph {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.places__paragraph {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin: 0;
  line-height: 1.6;
}

.places__button {
  text-decoration: none;
  padding: 15px;
  font-size: 18px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  text-align: center;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  border-radius: 5px;
}

.places__button:hover {
  background: linear-gradient(90deg, #0278fe40 0%, #003a7b40 99.98%);
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .places__content {
    display: flex;
    flex-direction: column;
    margin: 0 16px;
  }

  .places__header {
    font-size: 32px;
  }

  .places__link {
    padding-top: 0;
  }

  .places__link_artist {
    line-height: 18px;
  }

  .places__paragraph {
    font-size: 16px;
  }

  .places__image {
    width: 100vw;
    margin-left: -16px;
  }

  .places__button {
    font-size: 14px;
  }
}

@media screen and (min-width: 545px) and (max-width: 1024px) {
  .places {
    max-width: 720px;
    gap: 0;
  }

  .places__content {
    grid-template-columns: 340px repeat(1, 1fr);
    grid-template-rows: 75px 340px repeat(3, 1fr);
    grid-gap: 48px 28px;
  }

  .places__content_end {
    margin-top: 30%;
  }

  .places__header {
    font-size: 42px;
    padding-top: 0;
  }

  .places__link {
    padding-top: 0;
  }

  .places__link_header {
    margin-top: 0;
  }

  .places__link_artist {
    font-size: 18px;
  }

  .places__paragraph {
    font-size: 16px;
  }
}
